header {
	border-bottom: 1px solid white;
}

.header {
	margin: 0.5em 1em 0.5em 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-btn-container {
	float: right;
	display: flex;
}

.logo {
	cursor: pointer;
}

.logo img {
	width: 80px;
	height: auto;
}

.nav {
	list-style: none;
}

.nav-item {
	display: inline-block;
	margin-right: 30px;
	font-size: 18px;
	font-weight: 400;
}

.nav-item a {
	text-decoration: none;
	color: #fff;
}

.nav-item:hover a {
	color: #29a396;
	transition: 0.3s linear;
}

.nav-item:last-of-type {
	margin-right: 0;
}

.mobile-btn {
	display: none;
}

@media (max-width: 768px) {
	.header-btn-container {
		font-size: 2em;
	}
	.mobile-btn {
		width: 3em;
		border: none;
		background: none;
		cursor: pointer;
		display: inline;
	}
	.btn {
		font-size: 0.5em !important;
	}
	.nav {
		display: none;
		position: fixed;
		top: 4rem;
		right: 1em;
		border: 1px solid black;
		z-index: 99999;
		background: black;
	}
	.nav > ul > li {
		text-align: center;
		border-bottom: #fff 1px solid;
		padding: 1em;
	}
	.nav > ul {
		display: flex;
		flex-direction: column;
	}
	.show {
		display: block;
	}

	.nav-item {
		margin-right: 0;
	}
}
