:root {
	--clr-primary-hover: #776bcc;
	--clr-primary: #b6b2fa;
	--clr-primary-text: #8884d8;

	--clr-success: #efe;
	--clr-success-hover: #ded;
	--clr-success-text: #9a9;

	--clr-error: #fee;
	--clr-error-hover: #edd;
	--clr-error-text: #a66;

	--clr-warning: #fdf7df;
	--clr-warning-hover: #feec6f;
	--clr-warning-text: #c9971c;

	--clr-notice: #fdf7df;
	--clr-notice-hover: #feec6f;
	--clr-notice-text: #c9971c;

	--clr-white: #fff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	background: linear-gradient(
		0deg,
		var(--clr-primary),
		var(--clr-primary-hover)
	);
}

body {
	width: 100%;
	color: var(--clr-white);
	overflow-x: hidden;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.section {
	width: 100%;
	padding: 5rem 0;
	overflow: hidden;
}

::-webkit-input-placeholder {
	color: black;
	font-style: italic;
}
:-moz-placeholder {
	color: black;
	font-style: italic;
}
::-moz-placeholder {
	color: black;
	font-style: italic;
}
:-ms-input-placeholder {
	color: black;
	font-style: italic;
}

/* Buttons */
.btn {
	padding: 0.5em 1em;
	background: var(--clr-primary);
	border-radius: 40px;
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	color: var(--clr-white);
	display: inline-block;
}

.btn:hover {
	background: var(--clr-primary-hover);
	transition: 0.3s linear;
}

.icon {
	height: 1em;
}

.error {
	font-size: small;
	color: var(--clr-error-text);
	text-align: center;
	background: var(--clr-error);
	border-radius: 1em;
	padding: 0.5em;
}
.success {
	color: var(--clr-success-text);
	text-align: center;
	background: var(--clr-success);
	border-radius: 1em;
	padding: 0.5em;
}

button {
	padding: 0.5em 1em;
	border-radius: 40px;
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	display: inline-block;
}

button.warning {
	border: 1px solid var(--clr-warning-hover);
	background: var(--clr-warning);
	color: var(--clr-warning-text);
}
button.warning:hover {
	background: var(--clr-warning-hover);
	cursor: pointer;
}

.p-30 {
	padding-left: 30% !important;
	padding-right: 30% !important;
}
